* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.ErrorBox {
  display: flex;
  width: 100%;
  height: 30vh;
  align-items: center;
  justify-content: center;
}

.ErrorBox :first-child {
  font-size: 3rem;
}
.test {
  width: 200px;
}
